<!DOCTYPE html>
<html>
<head>
    <title>Welcome to trustcall API</title>
</head>
<body>
    <h1>Welcome to trustcall API</h1>
    <p>This API provides features for managing contacts, reporting spam, and searching a global phonebook.</p>
    <h2>Getting Started</h2>
    <ol>
        <li><strong>Register</strong>: Use the <a href="{% url 'register_user' %}">/api/register/</a> endpoint to create an account.</li>
        <li><strong>Obtain JWT Token</strong>: Use the <a href="{% url 'token_obtain_pair' %}">/api/token/</a> endpoint to get an access token.</li>
        <li><strong>Explore Endpoints</strong>: View the full list of endpoints in our <a href="https://github.com/KartikMouli/Trustcall_API">GitHub README</a>.</li>
    </ol>
</body>
</html>
